* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 16px;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0 0 4.2em;
    background-color: #fff;
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.4;
    overflow-y: scroll;
}

.navbar-wrap nav {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 4.2em;
    padding: 1.4em 2em;
    color: #fff;
    background-color: rgba(42, 40, 56, .8);
}

header {
    padding-top: 4.2em;
    background-color: #cac8d8;
    overflow: hidden;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4.2em;
    padding: 1.4em 3em;
    background-color: #2a2838;
    text-align: center;
}

footer p,
footer a {
    color: #fff;
}

p {
    margin: 0 0 1.4em;
}

h1 {
    margin: 10vw 2rem;
    font-size: 4em;
    text-align: center;
}

h2 {
    margin: 1em 0 .5em;
    font-size: 2.25em;
}

h3 {
    margin: 1em 0 .5em;
    font-size: 1.75em;
}

h4 {
    margin: 1em 0 .5em;
    font-size: 1.333em;
}

h5 {
    margin: 1em 0 .5em;
    font-size: 1.125em;
}

h6 {
    margin: 1em 0 0;
    font-size: 1em;
}


.wrap {
    overflow: hidden;
}
